<div ng-repeat="detail in $ctrl.details" ng-show="$ctrl.visible">
    <hr class="HandHistory-divider--dotted">

    <div class="Grid-row">
        <!-- Dynamically change Grid class based on number of Hole cards -->
        <div ng-class="$ctrl.numberOfCards(detail.data.hole_cards) > 2 ? 'Grid-col--3--tablet Grid-col--12' : 'Grid-col--2--tablet Grid-col--12'">
            <div class="HandHistory-gameItem-holeCards">
                <div ng-repeat="hole in detail.data.hole_cards" class="DeckCard DeckCard--{{ hole }}"></div>
            </div>
        </div>
        <div class="Grid-col--4--tablet Grid-col--12">
            <div class="HandHistory-gameItem-communityCards">
                <div ng-repeat="community in detail.data.cards_on_board track by $index"
                     ng-class="$index == 3 ? 'HandHistory-gameItem-separateCards' : ''"
                     class="DeckCard DeckCard--{{ community }}">
                </div>
            </div>
        </div>
        <div class="Grid-col--auto--tablet Grid-col--12">
            <div class="Media">
                <div class="Media-body">
                    <h1 class="HandHistory-gameItem-levelText">Level</h1>
                    <h2 class="HandHistory-gameItem-levelValue">{{ detail.data.currency.symbol }}{{ detail.data.small_blind }}/{{ detail.data.big_blind }}</h2>
                </div>
            </div>
        </div>
        <div class="Grid-col--auto--tablet Grid-col--12">
            <div class="Media">
                <div class="Media-body">
                    <h1 class="HandHistory-gameItem-levelText">Pot Size</h1>
                    <h2 class="HandHistory-gameItem-levelValue" ng-class="detail.data.pot < 0 ? 'u-textDanger' : ''">{{ detail.data.currency.symbol }}{{ detail.data.pot }}</h2>
                </div>
            </div>
        </div>
        <div class="Grid-col--2--tablet Grid-col--12 Grid--alignRight">
            <div class="HandHistory-gameItem-actions">
                <button class="Button Button--icon fn-shareButton" ng-click="$ctrl.shareClick(detail.replay_id)"><span class="Circle"><i class="fa fa-share-alt Button-icon"></i></span></button>
                <button class="Button Button--icon fn-playButton" ng-click="$ctrl.replayClick(detail.replay_id)"><span class="Circle"><i class="fa fa-play Button-icon"></i></span></button>
            </div>
        </div>
    </div>
</div>

<ui-modal modal-id="'replayModal'" visible="$ctrl.showModal" max-width="'200px'">
    <modal-body>
        <div class="TableContainer"
             id="table-container-{{$ctrl.replayData._id}}"
             screenfull=""
             ng-class="{'is-fullScreen' : $ctrl.replayData.isFullScreen, 'is-paused': $ctrl.replayData.playStatus=='paused', 'is-playing': $ctrl.replayData.playStatus=='playing', 'is-finished': $ctrl.replayData.playStatus=='finished'}">
            <replayer ng-if="$ctrl.replayData" data="$ctrl.replayData"></replayer>
        </div>
    </modal-body>
</ui-modal>
